.container{
    margin: 0 auto;
}
.cv{
    padding-left: 40px;
    padding-right: 20px;
}
.foto{
    margin-right: 25px;
    border-radius: 9%;
}
.about_me{
    display: flex;
}
.title{
    font-size: 22px;
    font-weight: 800;
    text-decoration: underline;
}
.time{
    font-style: italic;
}
.job{
    font-size: 18px;
    color:rgb(79, 20, 134);
}
footer{
    padding: 20px;
    margin-top: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}